@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --banner: #1b4965;
    --white: #fff;
    --buttons: #5fa8d3;
   
}

body{
    font-family: 'Poppins', sans-serif;
}


header{
    background-color: var(--banner);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap:15px;
}

header h1{
    color: var(--white);
}

header input{
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px 20px;

}

header div{
    display: flex;
    gap: 15px;
}

header div button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    color: white;
}

header div button:nth-child(1){
    background-color: var(--buttons);
}

header div button:nth-child(2){
    background-color: var(--buttons);
}

header div button:nth-child(3){
    background-color: var(--buttons);
}


.category-wrapper{
    padding:50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;
}

.category{
    max-width: 120px;
    min-width: 100px;
    height: 150px;
    position: relative;   /* span burada hareket edecek */  
    display: flex;
    flex-direction: column;
    align-items: center;


}

.category img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.category span{
     position: absolute;    /*hareket ettirmek istediğimiz nesne  */
     bottom: 10px;
     background-color: white;
     padding: 5px 10px;
     border-radius: 10px;
     font-weight: 600;
}


.categories{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;

}

/*? ÜRÜNLER ALANI  */

.product-wrapper{
    padding: 50px;
    text-align: center;
}

.product{
    width: 200px;
    box-shadow: -1px 22px 14px -4px rgba(0,0,0,0.65);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: relative;

}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
}

.product img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border: 2px solid rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    padding: 5px;
}

.product p{
    font-size: 14px;
}


.product-action{
    display: flex;
    background-color:var(--banner);
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;

}

.product-action button{
    background-color: var(--buttons);
    color: var(--white);
    border: none;
    border-radius: 4px;
    padding: 5px;
    font-weight: 700;
    cursor: pointer;
}

/* MODAL - SEPET AÇILINCA GÖSTERİLECEK YAPI */

.modal-wrapper{
    position: fixed;
    background-color: rgba(128, 128, 128, 0.382);
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: none;
    place-items: center;

}

.modal{
    background-color: white;
    width: 80%;
    height: 60%;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-list{
   display: flex;
   flex-direction: column;
   gap: 20px;
   overflow-y: auto;
   margin: 5px 10px;
   padding: 5px 10px;
}


.modal img{
    width: 40px;
    cursor: pointer;
}

.total{
    text-align: center;

}


.active{
    display: grid;
}

.list-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:15px;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.493);
}

.list-item img{
    width: 50px;
    height: 50px;
}

.list-item .price{
    color: red;
}

.list-item p{
    font-weight: 800;
    font-size: 13px;
}

.list-item h4{
    font-size: 18px;
}

.delete-button{
    background-color: orangered;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#total-price{
    color: green;
    font-weight: 600;
}